.home-page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  width: 100%;
    background-color: #f3f4f6; /* complement for projects not using Tailwind colors */
}

.home-page main {
  overflow: auto; /* complement for projects not using Tailwind spacing */
}
